body{
    background-color: dodgerblue;
}

#main {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 6px;
}

.terminal_print {
    color: #E0E0E0;
    background-color: #000000;
}

img {
    width: 600;
    height: 300;
} 
